@import '../../variables.scss';
.navbar{
    background-color: $color-primary;
    display: flex;
    grid-column: 1/-1;
    height: 10vh;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 3rem;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 5;
    ul{
        list-style: none;
        display: flex;
        li{
            padding: 0 1rem;
            font-size: 2rem;
        }
    }
    .icon{
        font-size: 3rem;
        color: $color-primary-light;
    }
}