@import "../../variables.scss";

.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: start;
  padding: 1rem 2rem;
  grid-row-gap: 1rem;
  position: relative;

  & > div:first-child {
    grid-column: 1/-1;
    width: 100%;
    display: flex;
  }
}
.input {
  border: none;
  line-height: 2rem;
  font-size: 2rem;
  width: 50%;
  padding: 0.2rem;
  border-bottom: solid currentColor 0.2rem;
  &:focus {
    outline: none;
  }
  &::-webkit-input-placeholder {
    font-weight: 100;
    color: rgba($color-primary-light, 0.7);
  }
}
.options {
  display: flex;
  justify-content: center;
  align-items: center;
  &__btn {
    font-size: 2rem;
    margin: 0 1rem;
  }
}
.button__group {
  justify-self: end;
}
.btn {
  color: white;
  background: $color-primary;
  border-color: $color-primary;
  margin: 0 1rem;
}
