@import "../../variables.scss";

.options {
  position: absolute;
  width: 40rem;
  top: 60%;
  left: 25%;
  transform: translateX(-50%);
  overflow: hidden;
  &__title {
    color: $color-primary;
    display: inline-block;
    background-color: rgba($color-primary-light, 0.4);
    width: 100%;
    padding: 0.2rem 1rem 0.8rem 3rem;
  }
  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: white;
    color: $color-text-primary;
    li {
      cursor: pointer;
      padding: 0.5rem 5rem;
      transition: all .2s;
      &:not(:last-child) {
        border-bottom: 1px solid gray;
      }
      &:hover {
        background-color: rgba($color-primary-light, 0.2);
        box-shadow: 0 1rem 1rem rgba($color: #000000, $alpha: 0.2);
        transform: translateY(0.3rem) scale(1.03);
      }
    }
  }
}
