@import "../../variables.scss";
.button {
  font: inherit;
  border: 1px solid transparent;
  padding: 0.5rem 1.2rem;
  border-radius: .4rem;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:hover,
  &:active {
    filter: brightness(1.03);
    box-shadow: 0 .5rem 1rem rgba(black,.4);
    transform: translateY(-.1rem);
    transition: all .2s;
  }
}
