@import "../../variables.scss";
.dropdown {
  display: flex;
  color: gray;
  position: relative;
  flex-direction: column;
  &__list {
    position: absolute;
    width: 100px;
    z-index: 21;
    top: 100%;
    left: -50%;
    align-self: center;
    border: solid gray;
    display: flex;
    flex-direction: column;
    list-style: none;
    li {
      background-color: white;
    }
  }
}
.clickOut {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
}
.options {
  position: absolute;
  width: 40rem;
  top: 60%;
  left: 25%;
  transform: translateX(-50%);
  overflow: hidden;
  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: white;
    color: $color-text-primary;

    li {
      cursor: pointer;
      padding: 0.3rem 5rem;
      &:not(:last-child) {
        border-bottom: 1px solid gray;
      }
    }
  }
}
